.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin: 15px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
}
